{% extends 'base.html.twig' %}

{% block title %}Typy produktów{% endblock %}

{% block body %}


{% block sidebar %}
<div class="w-1/6">
    <ul>
        <li>
            <a href="javascript:;" class="side-menu side-menu--active">
                <div class="side-menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="home" data-lucide="home" class="lucide lucide-home"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                </div>
                <div class="side-menu__title">
                    Dashboard
                    <div class="side-menu__sub-icon transform rotate-180">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </div>
                </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="http://tinker.left4code.com/page/side-menu/light/dashboard-overview-1" class="side-menu">
                        <div class="side-menu__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="activity" data-lucide="activity" class="lucide lucide-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="side-menu__title">Overview 1</div>
                    </a>
                </li>
                <li>
                    <a href="http://tinker.left4code.com/page/side-menu/light/dashboard-overview-12" class="side-menu">
                        <div class="side-menu__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="activity" data-lucide="activity" class="lucide lucide-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="side-menu__title">Overview 2</div>
                    </a>
                </li>
                <li>
                    <a href="http://tinker.left4code.com/page/side-menu/light/dashboard-overview-3" class="side-menu">
                        <div class="side-menu__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="activity" data-lucide="activity" class="lucide lucide-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="side-menu__title">Overview 3</div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
        <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="box" data-lucide="box" class="lucide lucide-box"><path d="M21 16V8a2 2 0 00-1-1.73l-7-4a2 2 0 00-2 0l-7 4A2 2 0 003 8v8a2 2 0 001 1.73l7 4a2 2 0 002 0l7-4A2 2 0 0021 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                </div>
                <div class="side-menu__title">
                    Menu Layout
                <div class="side-menu__sub-icon ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                </div>
                </div>
            </a>
            <ul class="">
                <li>
                    <a href="http://tinker.left4code.com/page/side-menu/light/dashboard-overview-1" class="side-menu">
                        <div class="side-menu__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="activity" data-lucide="activity" class="lucide lucide-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="side-menu__title">Side Menu</div>
                    </a>
                </li>
                <li>
                    <a href="http://tinker.left4code.com/page/simple-menu/light/dashboard-overview-1" class="side-menu">
                        <div class="side-menu__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="activity" data-lucide="activity" class="lucide lucide-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="side-menu__title">Simple Menu</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}

{% block content %}
        <div class="w-5/6 p-8">
               <div class="h-full shadow-md rounded-lg    p-8 bg-[#fff]"> 
                    <div class="ProductWrapp h-full border border-slate-200/60 dark:border-darkmode-400 rounded-md p-8">
                        <div class=" title-header justify-between flex w-100 pb-8 border-b border-slate-200/60 dark:border-darkmode-400">
                        <div class="font-medium text-base w-full ">Lista Produktów </div>
                            
                            <select  name="type_product" id="type_product">
                                <option value="choose">Wybierz typ</option>
                                <option value="Monitor">Monitor</option>
                                <option value="Obudowa">Obudowa</option>
                                <option value="PłytaGłówna">Płyta Główna</option>
                                <option value="Chłodzenie">Chłodzenie</option>
                            </select>
                            
                        </div>
                        <div class=" container-wrapp flex flex-row items-stretch w-100 ">
                            <ul class="w-full">
                                <li class=" container-product justify-between flex gap-2 p-2 flex-row items-stretch w-full border-b border-slate-200/60 dark:border-darkmode-400 ">
                                    <div class="columns w-full">1.</div>
                                    <div class="columns w-full">Monitor</div>
                                    <div class="columns w-full">Dell</div>
                                    <div class="columns w-full">P3065</div>
                                    <div class="columns w-full">5 szt.</div>
                                    <div class="columns w-full">500 zł</div>
                                    <div class="columns w-full"><a href="" class="text-green-600">Edytuj</a></div>
                                    <div class="columns w-full"><a href="" class="text-red-600">Usuń</a></div>
                                </li>
                                
                                <!-- Lista dla wyglądu --!>
                                
                                <li class=" container-product justify-between flex gap-2 flex-row items-stretch w-full p-2 border-b border-slate-200/60 dark:border-darkmode-400 ">
                                    <div class="columns w-full">2.</div><div class="columns w-full">Monitor</div><div class="columns w-full">Dell</div><div class="columns w-full">P1052</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                                <li class=" container-product flex justify-between gap-2 flex-row items-stretch w-full p-2 border-b border-slate-200/60 dark:border-darkmode-400">
                                    <div class="columns w-full">3.</div><div class="columns w-full">Monitor</div><div class="columns w-full">Dell</div><div class="columns w-full">P5065</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600 w-full">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                                <li class=" container-product flex justify-between gap-2 flex-row items-stretch w-full  p-2 border-b border-slate-200/60 dark:border-darkmode-400">
                                    <div class="columns w-full">4.</div><div class="columns w-full">Monitor</div><div class="columns w-full">Acer</div><div class="columns w-full">AOS3456</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600 w-full">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                                <li class=" container-product flex justify-between gap-2 flex-row items-stretch w-full p-2 border-b border-slate-200/60 dark:border-darkmode-400 ">
                                    <div class="columns w-full">5.</div><div class="columns w-full">Monitor</div><div class="columns w-full">Asus</div><div class="columns w-full">OZH7</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600 w-full">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                                <li class=" container-product flex justify-between gap-2 flex-row items-stretch w-full p-2 border-b border-slate-200/60 dark:border-darkmode-400 ">
                                    <div class="columns w-full">6.</div><div class="columns w-full">Monitor</div><div class="columns w-full">AORUS</div><div class="columns w-full">GAMING Z+</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600 w-full">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                                <li class=" container-product flex justify-between gap-2 flex-row items-stretch w-full p-2 ">
                                    <div class="columns w-full">7.</div><div class="columns w-full">Monitor</div><div class="columns w-full">APPLE</div><div class="columns w-full">VIEW-PRO</div><div class="columns w-full">5 szt.</div><div class="columns w-full">500 zł</div><div class="columns w-full"><a href="" class="text-green-600 w-full">Edytuj</a></div><div class="columns w-full"><a href="" class="text-red-600 w-full">Usuń</a></div>
                                </li>
                            </ul> 

                            
                            
                        </div>
                    </div>
               </div> 
        </div>
{% endblock %}
{% endblock %}